{% extends "base.html" %}

{% block content %}

<div style="padding: 5%;">
<style>
    body {
        background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
        font-family: 'Roboto Condensed', sans-serif;
        color: #262626;
        margin-bottom: 5% 0;
    }

    a {
        color: darkblue;
    }

    table {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
    }

    table td {
        border: 1px solid #ccc;
    }

    table .absorbing-column {
        width: 100%;
    }
</style>

<label>
    <span> Filter: </span>
    <input id="filter" type="text">
</label>

<table id="table">
    <tr>
        {% for h in headers %}
        <th> {{ h }}  </th>
        {% endfor %}
        <th> * </th>
    </tr>

    {% for row in content %}
    <tr class="table-row">
        {% for h in headers %}
        <td class="col{{loop.index0+1}}">
            {% if h == 'order' %}
            <a href="{{ url_for("admin.order_detail", id=row[h]) }}"># {{ row[h] }}</a>
            {% else %}
            <span style="color: {{'red' if row[h] == 'refund' else ''}};"> {{ row[h] }} </span>
            {% endif%}
        </td>
        {% endfor %}
        <td class="col{{loop.index0+1}}"><a href="{{url_for('admin.trans_refund', trans=row['id'])}}" {{"hidden" if row['type'] != 'pay' else ''}}> Refound </a> </td>
    </tr>
    {% endfor %}

</table>
</div>
<script type="text/javascript">
    $(function () {
        $('#filter').change(function () {
            $("#table tr.table-row").hide();
            $("#table td:contains('" + $(this).val() + "')").parent().show();
            // $("#table td:not(:contains('" + $(this).val() + "'))").parent().hide();
        });
    });
</script>

{% endblock %}