{% extends "base.html" %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

    body {
        background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
        font-family: 'Roboto Condensed', sans-serif;
        color: #262626;
        margin-bottom: 5% 0;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        background: #f6f6f6;
        border-radius: 0 0 5px 5px;
        padding: 25px;
    }

    .form {
        flex: 4;
    }

    .Yorder {
        flex: 2;
    }

    .title-bg {
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
        background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
        background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
        background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
        background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
        border-radius: 5px 5px 0 0;
        padding: 20px;
        color: #f6f6f6;
    }

    .title {
        padding: 20px;
    }

    h2 {
        margin: 0;
        padding-left: 15px;
    }

    .required {
        color: red;
    }

    label,
    table {
        display: block;
        margin: 15px;
    }

    label>span {
        float: left;
        width: 25%;
        margin-top: 12px;
        padding-right: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
        width: 70%;
        height: 30px;
        padding: 5px 10px;
        margin-bottom: 10px;
        border: 1px solid #dadada;
        color: #888;
    }

    select {
        width: 72%;
        height: 45px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .Yorder {
        margin-top: 15px;
        height: max-content;
        padding: 20px;
        border: 1px solid #dadada;
    }

    table {
        margin: 0;
        padding: 0;
    }

    th {
        border-bottom: 1px solid #dadada;
        padding: 10px 0;
    }

    tr>td:nth-child(1) {
        text-align: left;
        color: #2d2d2a;
    }

    tr>td:nth-child(2) {
        text-align: right;
        color: #52ad9c;
    }

    td {
        border-bottom: 1px solid #dadada;
        padding: 25px 25px 25px 0;
    }

    p {
        display: block;
        color: #888;
        margin: 0;
        padding-left: 25px;
    }

    .Yorder>div {
        padding: 15px 0;
    }

    button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        background: #52ad9c;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }

    button:hover {
        cursor: pointer;
        background: #428a7d;
    }
</style>

<div class="container">
    <div class="title-bg">
        <h2>Place Order</h2>
    </div>
    <form action="{{ url_for('cart.checkout') }}" method="post">
        <div class="d-flex">
            <div class="form">
                <label>
                    <span class="fname">First Name <span class="required">*</span></span>
                    <input type="text" name="first_name" value="{{ customer.first_name }}">
                </label>
                <label>
                    <span class="lname">Last Name <span class="required">*</span></span>
                    <input type="text" name="last_name" value="{{ customer.last_name }}">
                </label>
                <label>
                    <span>Country <span class="required">*</span></span>
                    <select name="addr_country">
                        <option value="">Select...</option>
                        <option value="AFG" {{ "selected" if "AFG" == customer.addr_country else "" }}>Afghanistan</option>
                        <option value="ALA" {{ "selected" if "ALA" == customer.addr_country else "" }}>Åland Islands</option>
                        <option value="ALB" {{ "selected" if "ALB" == customer.addr_country else "" }}>Albania</option>
                        <option value="DZA" {{ "selected" if "DZA" == customer.addr_country else "" }}>Algeria</option>
                        <option value="ASM" {{ "selected" if "ASM" == customer.addr_country else "" }}>American Samoa</option>
                        <option value="AND" {{ "selected" if "AND" == customer.addr_country else "" }}>Andorra</option>
                        <option value="AGO" {{ "selected" if "AGO" == customer.addr_country else "" }}>Angola</option>
                        <option value="AIA" {{ "selected" if "AIA" == customer.addr_country else "" }}>Anguilla</option>
                        <option value="ATA" {{ "selected" if "ATA" == customer.addr_country else "" }}>Antarctica</option>
                        <option value="ATG" {{ "selected" if "ATG" == customer.addr_country else "" }}>Antigua and Barbuda</option>
                        <option value="ARG" {{ "selected" if "ARG" == customer.addr_country else "" }}>Argentina</option>
                        <option value="ARM" {{ "selected" if "ARM" == customer.addr_country else "" }}>Armenia</option>
                        <option value="ABW" {{ "selected" if "ABW" == customer.addr_country else "" }}>Aruba</option>
                        <option value="AUS" {{ "selected" if "AUS" == customer.addr_country else "" }}>Australia</option>
                        <option value="AUT" {{ "selected" if "AUT" == customer.addr_country else "" }}>Austria</option>
                        <option value="AZE" {{ "selected" if "AZE" == customer.addr_country else "" }}>Azerbaijan</option>
                        <option value="BHS" {{ "selected" if "BHS" == customer.addr_country else "" }}>Bahamas</option>
                        <option value="BHR" {{ "selected" if "BHR" == customer.addr_country else "" }}>Bahrain</option>
                        <option value="BGD" {{ "selected" if "BGD" == customer.addr_country else "" }}>Bangladesh</option>
                        <option value="BRB" {{ "selected" if "BRB" == customer.addr_country else "" }}>Barbados</option>
                        <option value="BLR" {{ "selected" if "BLR" == customer.addr_country else "" }}>Belarus</option>
                        <option value="BEL" {{ "selected" if "BEL" == customer.addr_country else "" }}>Belgium</option>
                        <option value="BLZ" {{ "selected" if "BLZ" == customer.addr_country else "" }}>Belize</option>
                        <option value="BEN" {{ "selected" if "BEN" == customer.addr_country else "" }}>Benin</option>
                        <option value="BMU" {{ "selected" if "BMU" == customer.addr_country else "" }}>Bermuda</option>
                        <option value="BTN" {{ "selected" if "BTN" == customer.addr_country else "" }}>Bhutan</option>
                        <option value="BOL" {{ "selected" if "BOL" == customer.addr_country else "" }}>Bolivia, Plurinational State of</option>
                        <option value="BES" {{ "selected" if "BES" == customer.addr_country else "" }}>Bonaire, Sint Eustatius and Saba</option>
                        <option value="BIH" {{ "selected" if "BIH" == customer.addr_country else "" }}>Bosnia and Herzegovina</option>
                        <option value="BWA" {{ "selected" if "BWA" == customer.addr_country else "" }}>Botswana</option>
                        <option value="BVT" {{ "selected" if "BVT" == customer.addr_country else "" }}>Bouvet Island</option>
                        <option value="BRA" {{ "selected" if "BRA" == customer.addr_country else "" }}>Brazil</option>
                        <option value="IOT" {{ "selected" if "IOT" == customer.addr_country else "" }}>British Indian Ocean Territory</option>
                        <option value="BRN" {{ "selected" if "BRN" == customer.addr_country else "" }}>Brunei Darussalam</option>
                        <option value="BGR" {{ "selected" if "BGR" == customer.addr_country else "" }}>Bulgaria</option>
                        <option value="BFA" {{ "selected" if "BFA" == customer.addr_country else "" }}>Burkina Faso</option>
                        <option value="BDI" {{ "selected" if "BDI" == customer.addr_country else "" }}>Burundi</option>
                        <option value="KHM" {{ "selected" if "KHM" == customer.addr_country else "" }}>Cambodia</option>
                        <option value="CMR" {{ "selected" if "CMR" == customer.addr_country else "" }}>Cameroon</option>
                        <option value="CAN" {{ "selected" if "CAN" == customer.addr_country else "" }}>Canada</option>
                        <option value="CPV" {{ "selected" if "CPV" == customer.addr_country else "" }}>Cape Verde</option>
                        <option value="CYM" {{ "selected" if "CYM" == customer.addr_country else "" }}>Cayman Islands</option>
                        <option value="CAF" {{ "selected" if "CAF" == customer.addr_country else "" }}>Central African Republic</option>
                        <option value="TCD" {{ "selected" if "TCD" == customer.addr_country else "" }}>Chad</option>
                        <option value="CHL" {{ "selected" if "CHL" == customer.addr_country else "" }}>Chile</option>
                        <option value="CHN" {{ "selected" if "CHN" == customer.addr_country else "" }}>China</option>
                        <option value="CXR" {{ "selected" if "CXR" == customer.addr_country else "" }}>Christmas Island</option>
                        <option value="CCK" {{ "selected" if "CCK" == customer.addr_country else "" }}>Cocos (Keeling) Islands</option>
                        <option value="COL" {{ "selected" if "COL" == customer.addr_country else "" }}>Colombia</option>
                        <option value="COM" {{ "selected" if "COM" == customer.addr_country else "" }}>Comoros</option>
                        <option value="COG" {{ "selected" if "COG" == customer.addr_country else "" }}>Congo</option>
                        <option value="COD" {{ "selected" if "COD" == customer.addr_country else "" }}>Congo, the Democratic Republic of the</option>
                        <option value="COK" {{ "selected" if "COK" == customer.addr_country else "" }}>Cook Islands</option>
                        <option value="CRI" {{ "selected" if "CRI" == customer.addr_country else "" }}>Costa Rica</option>
                        <option value="CIV" {{ "selected" if "CIV" == customer.addr_country else "" }}>Côte d'Ivoire</option>
                        <option value="HRV" {{ "selected" if "HRV" == customer.addr_country else "" }}>Croatia</option>
                        <option value="CUB" {{ "selected" if "CUB" == customer.addr_country else "" }}>Cuba</option>
                        <option value="CUW" {{ "selected" if "CUW" == customer.addr_country else "" }}>Curaçao</option>
                        <option value="CYP" {{ "selected" if "CYP" == customer.addr_country else "" }}>Cyprus</option>
                        <option value="CZE" {{ "selected" if "CZE" == customer.addr_country else "" }}>Czech Republic</option>
                        <option value="DNK" {{ "selected" if "DNK" == customer.addr_country else "" }}>Denmark</option>
                        <option value="DJI" {{ "selected" if "DJI" == customer.addr_country else "" }}>Djibouti</option>
                        <option value="DMA" {{ "selected" if "DMA" == customer.addr_country else "" }}>Dominica</option>
                        <option value="DOM" {{ "selected" if "DOM" == customer.addr_country else "" }}>Dominican Republic</option>
                        <option value="ECU" {{ "selected" if "ECU" == customer.addr_country else "" }}>Ecuador</option>
                        <option value="EGY" {{ "selected" if "EGY" == customer.addr_country else "" }}>Egypt</option>
                        <option value="SLV" {{ "selected" if "SLV" == customer.addr_country else "" }}>El Salvador</option>
                        <option value="GNQ" {{ "selected" if "GNQ" == customer.addr_country else "" }}>Equatorial Guinea</option>
                        <option value="ERI" {{ "selected" if "ERI" == customer.addr_country else "" }}>Eritrea</option>
                        <option value="EST" {{ "selected" if "EST" == customer.addr_country else "" }}>Estonia</option>
                        <option value="ETH" {{ "selected" if "ETH" == customer.addr_country else "" }}>Ethiopia</option>
                        <option value="FLK" {{ "selected" if "FLK" == customer.addr_country else "" }}>Falkland Islands (Malvinas)</option>
                        <option value="FRO" {{ "selected" if "FRO" == customer.addr_country else "" }}>Faroe Islands</option>
                        <option value="FJI" {{ "selected" if "FJI" == customer.addr_country else "" }}>Fiji</option>
                        <option value="FIN" {{ "selected" if "FIN" == customer.addr_country else "" }}>Finland</option>
                        <option value="FRA" {{ "selected" if "FRA" == customer.addr_country else "" }}>France</option>
                        <option value="GUF" {{ "selected" if "GUF" == customer.addr_country else "" }}>French Guiana</option>
                        <option value="PYF" {{ "selected" if "PYF" == customer.addr_country else "" }}>French Polynesia</option>
                        <option value="ATF" {{ "selected" if "ATF" == customer.addr_country else "" }}>French Southern Territories</option>
                        <option value="GAB" {{ "selected" if "GAB" == customer.addr_country else "" }}>Gabon</option>
                        <option value="GMB" {{ "selected" if "GMB" == customer.addr_country else "" }}>Gambia</option>
                        <option value="GEO" {{ "selected" if "GEO" == customer.addr_country else "" }}>Georgia</option>
                        <option value="DEU" {{ "selected" if "DEU" == customer.addr_country else "" }}>Germany</option>
                        <option value="GHA" {{ "selected" if "GHA" == customer.addr_country else "" }}>Ghana</option>
                        <option value="GIB" {{ "selected" if "GIB" == customer.addr_country else "" }}>Gibraltar</option>
                        <option value="GRC" {{ "selected" if "GRC" == customer.addr_country else "" }}>Greece</option>
                        <option value="GRL" {{ "selected" if "GRL" == customer.addr_country else "" }}>Greenland</option>
                        <option value="GRD" {{ "selected" if "GRD" == customer.addr_country else "" }}>Grenada</option>
                        <option value="GLP" {{ "selected" if "GLP" == customer.addr_country else "" }}>Guadeloupe</option>
                        <option value="GUM" {{ "selected" if "GUM" == customer.addr_country else "" }}>Guam</option>
                        <option value="GTM" {{ "selected" if "GTM" == customer.addr_country else "" }}>Guatemala</option>
                        <option value="GGY" {{ "selected" if "GGY" == customer.addr_country else "" }}>Guernsey</option>
                        <option value="GIN" {{ "selected" if "GIN" == customer.addr_country else "" }}>Guinea</option>
                        <option value="GNB" {{ "selected" if "GNB" == customer.addr_country else "" }}>Guinea-Bissau</option>
                        <option value="GUY" {{ "selected" if "GUY" == customer.addr_country else "" }}>Guyana</option>
                        <option value="HTI" {{ "selected" if "HTI" == customer.addr_country else "" }}>Haiti</option>
                        <option value="HMD" {{ "selected" if "HMD" == customer.addr_country else "" }}>Heard Island and McDonald Islands</option>
                        <option value="VAT" {{ "selected" if "VAT" == customer.addr_country else "" }}>Holy See (Vatican City State)</option>
                        <option value="HND" {{ "selected" if "HND" == customer.addr_country else "" }}>Honduras</option>
                        <option value="HKG" {{ "selected" if "HKG" == customer.addr_country else "" }}>Hong Kong</option>
                        <option value="HUN" {{ "selected" if "HUN" == customer.addr_country else "" }}>Hungary</option>
                        <option value="ISL" {{ "selected" if "ISL" == customer.addr_country else "" }}>Iceland</option>
                        <option value="IND" {{ "selected" if "IND" == customer.addr_country else "" }}>India</option>
                        <option value="IDN" {{ "selected" if "IDN" == customer.addr_country else "" }}>Indonesia</option>
                        <option value="IRN" {{ "selected" if "IRN" == customer.addr_country else "" }}>Iran, Islamic Republic of</option>
                        <option value="IRQ" {{ "selected" if "IRQ" == customer.addr_country else "" }}>Iraq</option>
                        <option value="IRL" {{ "selected" if "IRL" == customer.addr_country else "" }}>Ireland</option>
                        <option value="IMN" {{ "selected" if "IMN" == customer.addr_country else "" }}>Isle of Man</option>
                        <option value="ISR" {{ "selected" if "ISR" == customer.addr_country else "" }}>Israel</option>
                        <option value="ITA" {{ "selected" if "ITA" == customer.addr_country else "" }}>Italy</option>
                        <option value="JAM" {{ "selected" if "JAM" == customer.addr_country else "" }}>Jamaica</option>
                        <option value="JPN" {{ "selected" if "JPN" == customer.addr_country else "" }}>Japan</option>
                        <option value="JEY" {{ "selected" if "JEY" == customer.addr_country else "" }}>Jersey</option>
                        <option value="JOR" {{ "selected" if "JOR" == customer.addr_country else "" }}>Jordan</option>
                        <option value="KAZ" {{ "selected" if "KAZ" == customer.addr_country else "" }}>Kazakhstan</option>
                        <option value="KEN" {{ "selected" if "KEN" == customer.addr_country else "" }}>Kenya</option>
                        <option value="KIR" {{ "selected" if "KIR" == customer.addr_country else "" }}>Kiribati</option>
                        <option value="PRK" {{ "selected" if "PRK" == customer.addr_country else "" }}>Korea, Democratic People's Republic of</option>
                        <option value="KOR" {{ "selected" if "KOR" == customer.addr_country else "" }}>Korea, Republic of</option>
                        <option value="KWT" {{ "selected" if "KWT" == customer.addr_country else "" }}>Kuwait</option>
                        <option value="KGZ" {{ "selected" if "KGZ" == customer.addr_country else "" }}>Kyrgyzstan</option>
                        <option value="LAO" {{ "selected" if "LAO" == customer.addr_country else "" }}>Lao People's Democratic Republic</option>
                        <option value="LVA" {{ "selected" if "LVA" == customer.addr_country else "" }}>Latvia</option>
                        <option value="LBN" {{ "selected" if "LBN" == customer.addr_country else "" }}>Lebanon</option>
                        <option value="LSO" {{ "selected" if "LSO" == customer.addr_country else "" }}>Lesotho</option>
                        <option value="LBR" {{ "selected" if "LBR" == customer.addr_country else "" }}>Liberia</option>
                        <option value="LBY" {{ "selected" if "LBY" == customer.addr_country else "" }}>Libya</option>
                        <option value="LIE" {{ "selected" if "LIE" == customer.addr_country else "" }}>Liechtenstein</option>
                        <option value="LTU" {{ "selected" if "LTU" == customer.addr_country else "" }}>Lithuania</option>
                        <option value="LUX" {{ "selected" if "LUX" == customer.addr_country else "" }}>Luxembourg</option>
                        <option value="MAC" {{ "selected" if "MAC" == customer.addr_country else "" }}>Macao</option>
                        <option value="MKD" {{ "selected" if "MKD" == customer.addr_country else "" }}>Macedonia, the former Yugoslav Republic of</option>
                        <option value="MDG" {{ "selected" if "MDG" == customer.addr_country else "" }}>Madagascar</option>
                        <option value="MWI" {{ "selected" if "MWI" == customer.addr_country else "" }}>Malawi</option>
                        <option value="MYS" {{ "selected" if "MYS" == customer.addr_country else "" }}>Malaysia</option>
                        <option value="MDV" {{ "selected" if "MDV" == customer.addr_country else "" }}>Maldives</option>
                        <option value="MLI" {{ "selected" if "MLI" == customer.addr_country else "" }}>Mali</option>
                        <option value="MLT" {{ "selected" if "MLT" == customer.addr_country else "" }}>Malta</option>
                        <option value="MHL" {{ "selected" if "MHL" == customer.addr_country else "" }}>Marshall Islands</option>
                        <option value="MTQ" {{ "selected" if "MTQ" == customer.addr_country else "" }}>Martinique</option>
                        <option value="MRT" {{ "selected" if "MRT" == customer.addr_country else "" }}>Mauritania</option>
                        <option value="MUS" {{ "selected" if "MUS" == customer.addr_country else "" }}>Mauritius</option>
                        <option value="MYT" {{ "selected" if "MYT" == customer.addr_country else "" }}>Mayotte</option>
                        <option value="MEX" {{ "selected" if "MEX" == customer.addr_country else "" }}>Mexico</option>
                        <option value="FSM" {{ "selected" if "FSM" == customer.addr_country else "" }}>Micronesia, Federated States of</option>
                        <option value="MDA" {{ "selected" if "MDA" == customer.addr_country else "" }}>Moldova, Republic of</option>
                        <option value="MCO" {{ "selected" if "MCO" == customer.addr_country else "" }}>Monaco</option>
                        <option value="MNG" {{ "selected" if "MNG" == customer.addr_country else "" }}>Mongolia</option>
                        <option value="MNE" {{ "selected" if "MNE" == customer.addr_country else "" }}>Montenegro</option>
                        <option value="MSR" {{ "selected" if "MSR" == customer.addr_country else "" }}>Montserrat</option>
                        <option value="MAR" {{ "selected" if "MAR" == customer.addr_country else "" }}>Morocco</option>
                        <option value="MOZ" {{ "selected" if "MOZ" == customer.addr_country else "" }}>Mozambique</option>
                        <option value="MMR" {{ "selected" if "MMR" == customer.addr_country else "" }}>Myanmar</option>
                        <option value="NAM" {{ "selected" if "NAM" == customer.addr_country else "" }}>Namibia</option>
                        <option value="NRU" {{ "selected" if "NRU" == customer.addr_country else "" }}>Nauru</option>
                        <option value="NPL" {{ "selected" if "NPL" == customer.addr_country else "" }}>Nepal</option>
                        <option value="NLD" {{ "selected" if "NLD" == customer.addr_country else "" }}>Netherlands</option>
                        <option value="NCL" {{ "selected" if "NCL" == customer.addr_country else "" }}>New Caledonia</option>
                        <option value="NZL" {{ "selected" if "NZL" == customer.addr_country else "" }}>New Zealand</option>
                        <option value="NIC" {{ "selected" if "NIC" == customer.addr_country else "" }}>Nicaragua</option>
                        <option value="NER" {{ "selected" if "NER" == customer.addr_country else "" }}>Niger</option>
                        <option value="NGA" {{ "selected" if "NGA" == customer.addr_country else "" }}>Nigeria</option>
                        <option value="NIU" {{ "selected" if "NIU" == customer.addr_country else "" }}>Niue</option>
                        <option value="NFK" {{ "selected" if "NFK" == customer.addr_country else "" }}>Norfolk Island</option>
                        <option value="MNP" {{ "selected" if "MNP" == customer.addr_country else "" }}>Northern Mariana Islands</option>
                        <option value="NOR" {{ "selected" if "NOR" == customer.addr_country else "" }}>Norway</option>
                        <option value="OMN" {{ "selected" if "OMN" == customer.addr_country else "" }}>Oman</option>
                        <option value="PAK" {{ "selected" if "PAK" == customer.addr_country else "" }}>Pakistan</option>
                        <option value="PLW" {{ "selected" if "PLW" == customer.addr_country else "" }}>Palau</option>
                        <option value="PSE" {{ "selected" if "PSE" == customer.addr_country else "" }}>Palestinian Territory, Occupied</option>
                        <option value="PAN" {{ "selected" if "PAN" == customer.addr_country else "" }}>Panama</option>
                        <option value="PNG" {{ "selected" if "PNG" == customer.addr_country else "" }}>Papua New Guinea</option>
                        <option value="PRY" {{ "selected" if "PRY" == customer.addr_country else "" }}>Paraguay</option>
                        <option value="PER" {{ "selected" if "PER" == customer.addr_country else "" }}>Peru</option>
                        <option value="PHL" {{ "selected" if "PHL" == customer.addr_country else "" }}>Philippines</option>
                        <option value="PCN" {{ "selected" if "PCN" == customer.addr_country else "" }}>Pitcairn</option>
                        <option value="POL" {{ "selected" if "POL" == customer.addr_country else "" }}>Poland</option>
                        <option value="PRT" {{ "selected" if "PRT" == customer.addr_country else "" }}>Portugal</option>
                        <option value="PRI" {{ "selected" if "PRI" == customer.addr_country else "" }}>Puerto Rico</option>
                        <option value="QAT" {{ "selected" if "QAT" == customer.addr_country else "" }}>Qatar</option>
                        <option value="REU" {{ "selected" if "REU" == customer.addr_country else "" }}>Réunion</option>
                        <option value="ROU" {{ "selected" if "ROU" == customer.addr_country else "" }}>Romania</option>
                        <option value="RUS" {{ "selected" if "RUS" == customer.addr_country else "" }}>Russian Federation</option>
                        <option value="RWA" {{ "selected" if "RWA" == customer.addr_country else "" }}>Rwanda</option>
                        <option value="BLM" {{ "selected" if "BLM" == customer.addr_country else "" }}>Saint Barthélemy</option>
                        <option value="SHN" {{ "selected" if "SHN" == customer.addr_country else "" }}>Saint Helena, Ascension and Tristan da Cunha</option>
                        <option value="KNA" {{ "selected" if "KNA" == customer.addr_country else "" }}>Saint Kitts and Nevis</option>
                        <option value="LCA" {{ "selected" if "LCA" == customer.addr_country else "" }}>Saint Lucia</option>
                        <option value="MAF" {{ "selected" if "MAF" == customer.addr_country else "" }}>Saint Martin (French part)</option>
                        <option value="SPM" {{ "selected" if "SPM" == customer.addr_country else "" }}>Saint Pierre and Miquelon</option>
                        <option value="VCT" {{ "selected" if "VCT" == customer.addr_country else "" }}>Saint Vincent and the Grenadines</option>
                        <option value="WSM" {{ "selected" if "WSM" == customer.addr_country else "" }}>Samoa</option>
                        <option value="SMR" {{ "selected" if "SMR" == customer.addr_country else "" }}>San Marino</option>
                        <option value="STP" {{ "selected" if "STP" == customer.addr_country else "" }}>Sao Tome and Principe</option>
                        <option value="SAU" {{ "selected" if "SAU" == customer.addr_country else "" }}>Saudi Arabia</option>
                        <option value="SEN" {{ "selected" if "SEN" == customer.addr_country else "" }}>Senegal</option>
                        <option value="SRB" {{ "selected" if "SRB" == customer.addr_country else "" }}>Serbia</option>
                        <option value="SYC" {{ "selected" if "SYC" == customer.addr_country else "" }}>Seychelles</option>
                        <option value="SLE" {{ "selected" if "SLE" == customer.addr_country else "" }}>Sierra Leone</option>
                        <option value="SGP" {{ "selected" if "SGP" == customer.addr_country else "" }}>Singapore</option>
                        <option value="SXM" {{ "selected" if "SXM" == customer.addr_country else "" }}>Sint Maarten (Dutch part)</option>
                        <option value="SVK" {{ "selected" if "SVK" == customer.addr_country else "" }}>Slovakia</option>
                        <option value="SVN" {{ "selected" if "SVN" == customer.addr_country else "" }}>Slovenia</option>
                        <option value="SLB" {{ "selected" if "SLB" == customer.addr_country else "" }}>Solomon Islands</option>
                        <option value="SOM" {{ "selected" if "SOM" == customer.addr_country else "" }}>Somalia</option>
                        <option value="ZAF" {{ "selected" if "ZAF" == customer.addr_country else "" }}>South Africa</option>
                        <option value="SGS" {{ "selected" if "SGS" == customer.addr_country else "" }}>South Georgia and the South Sandwich Islands</option>
                        <option value="SSD" {{ "selected" if "SSD" == customer.addr_country else "" }}>South Sudan</option>
                        <option value="ESP" {{ "selected" if "ESP" == customer.addr_country else "" }}>Spain</option>
                        <option value="LKA" {{ "selected" if "LKA" == customer.addr_country else "" }}>Sri Lanka</option>
                        <option value="SDN" {{ "selected" if "SDN" == customer.addr_country else "" }}>Sudan</option>
                        <option value="SUR" {{ "selected" if "SUR" == customer.addr_country else "" }}>Suriname</option>
                        <option value="SJM" {{ "selected" if "SJM" == customer.addr_country else "" }}>Svalbard and Jan Mayen</option>
                        <option value="SWZ" {{ "selected" if "SWZ" == customer.addr_country else "" }}>Swaziland</option>
                        <option value="SWE" {{ "selected" if "SWE" == customer.addr_country else "" }}>Sweden</option>
                        <option value="CHE" {{ "selected" if "CHE" == customer.addr_country else "" }}>Switzerland</option>
                        <option value="SYR" {{ "selected" if "SYR" == customer.addr_country else "" }}>Syrian Arab Republic</option>
                        <option value="TWN" {{ "selected" if "TWN" == customer.addr_country else "" }}>Taiwan, Province of China</option>
                        <option value="TJK" {{ "selected" if "TJK" == customer.addr_country else "" }}>Tajikistan</option>
                        <option value="TZA" {{ "selected" if "TZA" == customer.addr_country else "" }}>Tanzania, United Republic of</option>
                        <option value="THA" {{ "selected" if "THA" == customer.addr_country else "" }}>Thailand</option>
                        <option value="TLS" {{ "selected" if "TLS" == customer.addr_country else "" }}>Timor-Leste</option>
                        <option value="TGO" {{ "selected" if "TGO" == customer.addr_country else "" }}>Togo</option>
                        <option value="TKL" {{ "selected" if "TKL" == customer.addr_country else "" }}>Tokelau</option>
                        <option value="TON" {{ "selected" if "TON" == customer.addr_country else "" }}>Tonga</option>
                        <option value="TTO" {{ "selected" if "TTO" == customer.addr_country else "" }}>Trinidad and Tobago</option>
                        <option value="TUN" {{ "selected" if "TUN" == customer.addr_country else "" }}>Tunisia</option>
                        <option value="TUR" {{ "selected" if "TUR" == customer.addr_country else "" }}>Turkey</option>
                        <option value="TKM" {{ "selected" if "TKM" == customer.addr_country else "" }}>Turkmenistan</option>
                        <option value="TCA" {{ "selected" if "TCA" == customer.addr_country else "" }}>Turks and Caicos Islands</option>
                        <option value="TUV" {{ "selected" if "TUV" == customer.addr_country else "" }}>Tuvalu</option>
                        <option value="UGA" {{ "selected" if "UGA" == customer.addr_country else "" }}>Uganda</option>
                        <option value="UKR" {{ "selected" if "UKR" == customer.addr_country else "" }}>Ukraine</option>
                        <option value="ARE" {{ "selected" if "ARE" == customer.addr_country else "" }}>United Arab Emirates</option>
                        <option value="GBR" {{ "selected" if "GBR" == customer.addr_country else "" }}>United Kingdom</option>
                        <option value="USA" {{ "selected" if "USA" == customer.addr_country else "" }}>United States</option>
                        <option value="UMI" {{ "selected" if "UMI" == customer.addr_country else "" }}>United States Minor Outlying Islands</option>
                        <option value="URY" {{ "selected" if "URY" == customer.addr_country else "" }}>Uruguay</option>
                        <option value="UZB" {{ "selected" if "UZB" == customer.addr_country else "" }}>Uzbekistan</option>
                        <option value="VUT" {{ "selected" if "VUT" == customer.addr_country else "" }}>Vanuatu</option>
                        <option value="VEN" {{ "selected" if "VEN" == customer.addr_country else "" }}>Venezuela, Bolivarian Republic of</option>
                        <option value="VNM" {{ "selected" if "VNM" == customer.addr_country else "" }}>Viet Nam</option>
                        <option value="VGB" {{ "selected" if "VGB" == customer.addr_country else "" }}>Virgin Islands, British</option>
                        <option value="VIR" {{ "selected" if "VIR" == customer.addr_country else "" }}>Virgin Islands, U.S.</option>
                        <option value="WLF" {{ "selected" if "WLF" == customer.addr_country else "" }}>Wallis and Futuna</option>
                        <option value="ESH" {{ "selected" if "ESH" == customer.addr_country else "" }}>Western Sahara</option>
                        <option value="YEM" {{ "selected" if "YEM" == customer.addr_country else "" }}>Yemen</option>
                        <option value="ZMB" {{ "selected" if "ZMB" == customer.addr_country else "" }}>Zambia</option>
                        <option value="ZWE" {{ "selected" if "ZWE" == customer.addr_country else "" }}>Zimbabwe</option>
                    </select>
                </label>
                <label>
                    <span>Street Address <span class="required">*</span></span>
                    <input type="text" name="addr_street" value="{{ customer.addr_street }}" required>
                </label>
                <label>
                    <span>Town / City <span class="required">*</span></span>
                    <input type="text" name="addr_city" value="{{ customer.addr_city }}">
                </label>
                <label>
                    <span>State / County <span class="required">*</span></span>
                    <input type="text" name="addr_state" value="{{ customer.addr_state }}">
                </label>
                <label>
                    <span>Postcode / ZIP <span class="required">*</span></span>
                    <input type="text" name="addr_zipcode" value="{{ customer.addr_zipcode }}">
                </label>
                <label>
                    <span>Phone <span class="required">*</span></span>
                    <input type="tel" name="phone" value="{{ customer.phone }}">
                </label>
                <hr />

                <div class="title">
                    <h3>Payment Details</h3>
                </div>
                <label>
                    <span class="fname"> Cardholder Name <span class="required">*</span></span>
                    <input type="text" name="card_holder_name" aria-describedby="nameHelp"
                        placeholder="Full name as displayed on card." value="{{ customer.card_holder_name }}">
                </label>
                <label>
                    <span class="fname"> Card Number <span class="required">*</span></span>
                    <input type="text" name="card_number" placeholder="Card Number" value="{{ customer.card_number }}">
                </label>
                <label>
                    <span class="fname"> Expiry Date <span class="required">*</span></span>
                    <input type="text" name="card_expire_at" placeholder="MM/YYYY" value="{{ customer.card_expire_at }}">
                </label>
                <label>
                    <span class="fname"> CVV <span class="required">*</span></span>
                    <input type="password" name="cvv" placeholder="CVV">
                </label>
            </div>
            <div class="Yorder">
                <table>
                    <tr>
                        <th colspan="2">Your order</th>
                    </tr>
                    {% for item in data %}
                    <tr>
                        <td>{{ item['name'] }} x {{ item['number'] }}</td>
                        <td>${{ item['price'] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Subtotal</td>
                        <td>${{ total }}</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>Free shipping</td>
                    </tr>
                </table>
                <br>
                <button type="submit">Place Order</button>
            </div><!-- Yorder -->
        </div>
    </form>
</div>
{% endblock %}