{% extends "base.html" %}

{% block content %}
<div class="shop-items">
    <div class="container-fluid">
        <div class="row">
            {% for g in gameList %}
            <div class="col-md-3 col-sm-6">
                <div class="card" style="width: 18rem;">
                  <img src="{{g.image if g.image.startswith('http') else url_for('main.image_files', filename=g.image)}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ g.name }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ g.type }}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">{{ g.platform }}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">{{ g.release_date }}</h6>
                      <p class="card-text">${{ g.price }}</p>
                    <a href="#" class="add-to-cart btn btn-outline-secondary btn-sm"
                     onclick="addToCart()">Add to cart</a>
                  </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
function addToCart(){
    alert("You have added this item to shopping cart");
}
</script>
{% endblock %}