<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#{{ gameList }}#}
{#{{ gameDict }}#}

<table border="1px">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>release date</th>
            <th>price</th>
            <th>type</th>
            <th>platform</th>
        </tr>
    </thead>
    {% for g in gameList %}
    <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.name }}</td>
        <td>{{ g.release_date }}</td>
        <td>{{ g.price }}</td>
        <td>{{ g.type }}</td>
        <td>{{ g.platform }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>