{% extends "base.html" %}

{% block content %}
    <br>
<div class="container">
    <div class="row">
        <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sortByButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  >
            Sort By
          </button>
          <ul class="dropdown-menu" aria-labelledby="sortByButton">
            <a class="dropdown-item" href="{{url_for('main.game_list_page', sortby='Price')}}">Price</a>
            <a class="dropdown-item" href="{{url_for('main.game_list_page', sortby='Platform')}}">Platform</a>
            <a class="dropdown-item" href="{{url_for('main.game_list_page', sortby='release_date')}}">Release Date</a>
          </ul>
        </div>
        <div class="col col-lg-4 offset-lg-6 col-md-8 col-sm-8 col-xs-4">
            <form class="form-inline mx-sm-3 mb-2" method="GET">
<!--            <div class="form-group mb-2" action="" method="GET">-->
                <input type="text" class="form-control" name="search" value="{{ request.args.get('search', '') }}">
<!--            </div>-->
<!--            <div class="form-group">-->
                <input type="submit" class="form-control btn btn-primary" value="Search">
<!--            </div>-->
            </form>
        </div>
    </div>
</div>
<br>
<div class="shop-items">
    <div class="row">
        {% for g in gameList %}
        <div class="col-md-3 col-lg-3">
            <div class="dress-card">
                <div class="dress-card-head">
                    <a href="{{ url_for('main.game_page', gameid=g.id)}}">
                        <img class="dress-card-img-top" src="{{g.image if g.image.startswith('http') else url_for('main.image_files', filename=g.image)}}">
                    </a>
                    <div class="suprise-bubble">
<!--                        <span class="dress-card-heart">-->
<!--                            <i class="fas fa-heart"></i>-->
<!--                        </span>-->
<!--                        <a href="#"> <span>More</span></a>-->
                    </div>
                </div>
                <div class="dress-card-body">
                    <h4 class="dress-card-title" style="color:red; font-weight:bold; line-height: 1.5em; height: 3em; overflow: hidden;">{{ g.name }}</h4>
                    <p class="dress-card-para" style="line-height: 1.5em; height: 3em; overflow: hidden;">{{ g.type }} on</p>
                    <p class="dress-card-para" style="font-weight:bold">{{ g.platform}}</p>
                    <br>
                    <p class="dress-card-para"><span class="dress-card-price">$ {{ g.price }} &ensp;</span></p>
                    <div class="row">
                        <div class="col-md-10 card-button">
                            <a href="" onclick="addToCart({{ g.id }})">
                                <div class="card-button-inner bag-button">Add to Bag</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
function addToCart(game_id){
  $.post("{{ url_for('cart.add') }}", {
    game: game_id,
    number: 1
  }).done(function() {
    refreshCart();
  });
}
</script>
<style>
.dress-card-img-top {
  width:100%;
  border-radius: 7px 7px 0 0;
}

.dress-card-body {
  padding:1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  line-height: 0.5rem;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #E06C9F;
}

.dress-card-para {
  margin-bottom: 0.2rem;
  font-size: 1.0rem;
  margin-bottom: 0rem;
}

.dress-card {
  border-radius: 14px;
  margin:1em;
}

.dress-card-heart {
  font-size: 1em;
  color: #DB2763;
  margin: 4.5px;
  position: absolute;
  left: 4px;
  top: 0px;
}
.card-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}
.card-button a {
  text-decoration: none;
}
.card-button-inner {
  padding: 10px;
  border-radius: 3px;
}
.bag-button {
  background: #707a8a;
  color: white;
}

.bag-button :hover{
  background: #60469e;
}
</style>
{% endblock %}