
{% extends "profile.html" %}
{% block right %}
<style>

.container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        background: #f6f6f6;
        border-radius: 0 0 5px 5px;
        padding: 25px;
    }

    .c-flex {
        display: flex;
        flex-direction: column;
        background: #f6f6f6;
        border-radius: 0 0 5px 5px;
        padding: 25px;
    }

    .form {
        flex: 4;
    }

    .Yorder {
        flex: 2;
    }

    h2 {
        margin: 5px;
        padding-left: 15px;
    }

    .required {
        color: red;
    }

    label,
    table {
        display: block;
        margin: 15px;
    }

    label>span {
        float: left;
        width: 25%;
        margin-top: 12px;
        padding-right: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
        width: 70%;
        height: 30px;
        padding: 5px 10px;
        margin-bottom: 10px;
        border: 1px solid #dadada;
        color: #888;
    }

    select {
        width: 72%;
        height: 45px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .Yorder {
        margin-top: 15px;
        height: max-content;
        padding: 20px;
        border: 1px solid #dadada;
    }

    table {
        margin: 0;
        padding: 0;
    }

    th {
        border-bottom: 1px solid #dadada;
        padding: 10px 0;
    }

    tr>td:nth-child(1) {
        text-align: left;
        color: #2d2d2a;
    }

    tr>td:nth-child(2) {
        text-align: right;
        color: #52ad9c;
    }

    td {
        border-bottom: 1px solid #dadada;
        padding: 25px 25px 25px 0;
    }

    p {
        display: block;
        color: #888;
        margin: 0;
        padding-left: 9px;;;
    }

    .Yorder>div {
        padding: 15px 0;
    }

    button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        background: #52ad9c;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }

    button:hover {
        cursor: pointer;
        background: #428a7d;
    }
</style>

<div class="container" style="padding: 5%;">
    <h2> {{ info }} Information </h2>
    {% if info == 'Order' %}
    <div class="d-flex">
        <div class="table-responsive Yorder">
            <table>
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Items</th>
                  <th>Time Created</th>
                  <th>Current Status</th>
                </tr>
              </thead>
              <tbody>
              {% for order in orderList %}
                <tr>
                    <td>
                      <a href="{{ url_for('main.profile', page='orderDetail', id=order.id) }}"><b># {{ order.id }}</b></a>
                    </td>
                    <td>
                      {% for contains in order.order_contains %}
                      {% set i = contains.game.image %}
                      <img src="{{i if i.startswith('http') else url_for('main.image_files', filename=i)}}" style="max-height:45px">
                      {% endfor %}
                    </td>
                  <td>{{ order.datetime }}</td>
                  <td>{{ order.order_statuses[-1].status }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    {% endif %}

    {% if info == 'Order Detail' %}
    <div class="c-flex">
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label" style="padding-left: 9px;;; font-weight: bold;">Name : </label>
            <label class="col-sm-2 col-form-label">{{ order.first_name + ', ' + order.last_name}} </label>
            <label  class="col-sm-2 col-form-label" style="padding-left: 9px;;; font-weight: bold;">Phone : </label>
            <label class="col-sm-2 col-form-label">{{ order.phone }} </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" style="padding-left: 9px;;; font-weight: bold; ">Address : </label>
            <label class="col-sm-4 col-form-label"> {{ order.addr_street }}, {{ order.addr_city }}, {{ order.addr_state }} {{ order.addr_zipcode }}, {{ order.addr_country }} </label>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label" style="padding-left: 9px;;; font-weight: bold;">Order Time: </label>
            <label class="col-sm-2 col-form-label">{{ order.datetime }} </label>
        </div>
        <h5><b>Order Contains</b></h5>
        <div class="table-responsive" style="padding-left: 9px;">
            <table>
                <thead>
                <tr>
                    <th>Game</th>
                    <th>Platform</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
              </thead>
              <tbody>
              {% for contain in order.order_contains %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.game_page', gameid=order.id) }}">{{ contain.game.name }}</a>
                    </td>
                    <td>{{ contain.game.platform }}</td>
                    <td>{{ contain.number }}</td>
                    <td>$ {{ contain.per_price }}</td>
                </tr>
              {% endfor %}
                <tr>
                  <td>
                      Total
                  </td>
                  <td> - </td>
                  <td> - </td>
                  <td> <span style="color: green;"> $ {{ total }} </span></td>
                </tr>
              </tbody>
            </table>
        </div>
        <br>
        <h5><b>Order Status <span style="color: green;"> {{ '<'+order.order_statuses[-1].status.upper()+'>' }} </span></b></h5>
        <div class="table-responsive" style="padding-left: 9px;">
            <table>
                <thead>
                <tr>
                  <th>Update at</th>
                  <th>Status</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
              {% for status in order.order_statuses %}
                <tr>
                  <td>{{ status.datetime }}</td>
                  <td>{{ status.status }}</td>
                  <th>{{ status.note }}</th>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}