
{% extends "profile.html" %}
{% block right %}
<style>
  h2 {
        margin: 5px;
        padding-left: 15px;
    }
</style>

<div class="container" style="padding: 5%;">
    <h2> {{ info }} Information </h2>
    {% if info == 'Order' %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Items</th>
                  <th>Time Created</th>
                  <th>Current Status</th>
                </tr>
              </thead>
              <tbody>
              {% for order in orderList %}
                <tr>
                    <td>
                      <a href="{{ url_for('main.profile', page='orderDetail', id=order.id) }}"><b># {{ order.id }}</b></a>
                    </td>
                    <td>
                      {% for contains in order.order_contains %}
                      {% set i = contains.game.image %}
                      <img src="{{i if i.startswith('http') else url_for('main.image_files', filename=i)}}" style="max-height:45px">
                      {% endfor %}
                    </td>
                  <td>{{ order.datetime }}</td>
                  <td>{{ order.order_statuses[-1].status }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    {% endif %}

    {% if info == 'Order Detail' %}
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label" style="padding-left: 35px">Name : </label>
            <div class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" value=" {{ order.first_name + ', ' + order.last_name}}">
            </div>
            <label  class="col-sm-2 col-form-label" style="padding-left: 35px">Phone : </label>
            <div class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" value={{ order.phone }}>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" style="padding-left: 35px ">Address : </label>
            <div class="col-sm-4">
                <input type="text" readonly class="form-control-plaintext"
                       value="{{ order.addr_street }}, {{ order.addr_city }}, {{ order.addr_state }} {{ order.addr_zipcode }}, {{ order.addr_country }}">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label" style="padding-left: 35px">Order Time: </label>
            <div class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" value={{ order.datetime }}>
            </div>
        </div>
        <h5><b>Order Contains</b></h5>
        <div class="table-responsive" style="padding-left: 9px;">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Game</th>
                    <th>Platform</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
              </thead>
              <tbody>
              {% for contain in order.order_contains %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.game_page', gameid=order.id) }}">{{ contain.game.name }}</a>
                    </td>
                    <td>{{ contain.game.platform }}</td>
                    <td>{{ contain.number }}</td>
                    <td>$ {{ contain.per_price }}</td>
                </tr>
              {% endfor %}
                <tr>
                  <td>
                      Total
                  </td>
                  <td> - </td>
                  <td> - </td>
                  <td> <span style="color: green;"> $ {{ total }} </span></td>
                </tr>
              </tbody>
            </table>
        </div>
        <h5><b>Order Status</b></h5>
        <div class="table-responsive" style="padding-left: 9px;">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                  <th>Time</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              {% for status in order.order_statuses %}
                <tr>
                  <td>{{ status.datetime }}</td>
                  <td>{{ status.status }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    {% endif %}
  </div>
{% endblock %}