{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
  <div class="row">
      <nav id="sidebarMenu" class="col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
              Welcome {{ current_user.name }} !
          </li><br>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.profile', page='information') }}">
{#              <span data-feather="file"></span>#}
              Information
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.profile', page='order') }}">
{#              <span data-feather="shopping-cart"></span>#}
              Orders
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="ml-sm-auto col-lg-10 px-md-4">
        {% block right %}
            <form>
                <h6><b>Account information</b></h6>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-2">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{ current_user.email }}>
                    </div>
                    <label for="Phone" class="col-sm-2 col-form-label" style="padding-left: 50px">Phone</label>
                    <div class="col-sm-2">
                        <input type="phone" class="form-control" id="Name" value={{ c.phone }}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Name" class="col-sm-2 col-form-label">Account Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Name" value={{ current_user.name }}>
                    </div>
                    <label for="Name" class="col-sm-2 col-form-label" style="padding-left: 50px">Last Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Name" value={{ c.last_name }}>
                    </div>
                    <label for="Name" class="col-sm-2 col-form-label" style="padding-left: 50px">First Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Name" value={{ c.first_name }}>
                    </div>
                </div>
                <br><br>
                <h6><b>Payment information</b></h6>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Card Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value={{ c.card_number }}>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Card Type</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.card_type }}>
                    </div>
                    <label class="col-sm-2 col-form-label" style="padding-left: 50px">Expire Date</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.card_expire_at }}>
                    </div>
                    <label class="col-sm-2 col-form-label" style="padding-left: 20px">Holder Name</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.card_holder_name }}>
                    </div>
                </div>
                <br><br>
                <h6><b>Address information</b></h6><br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Country</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" value={{ c.addr_country }}>
                    </div>
                    <label class="col-sm-1 col-form-label">State</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.addr_state }}>
                    </div>
                    <label class="col-sm-1 col-form-label">City</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.addr_city }}>
                    </div>
                    <label class="col-sm-2 col-form-label" style="padding-left: 50px">ZIP Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.addr_zipcode }}>
                    </div>
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" class="form-control" value={{ c.addr_street }}>
                </div>
                <br><br>
                <h6><b>Billing Address</b></h6><br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Country</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" value={{ c.billing_addr_country }}>
                    </div>
                    <label class="col-sm-1 col-form-label">State</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.billing_addr_state }}>
                    </div>
                    <label class="col-sm-1 col-form-label">City</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.billing_addr_city }}>
                    </div>
                    <label class="col-sm-2 col-form-label" style="padding-left: 50px">ZIP Code</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value={{ c.billing_addr_zipcode }}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Street</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" value={{ c.billing_addr_street }}>
                </div>
            </form>
        {% endblock %}
    </main>
  </div>
</div>
{% endblock %}